<% include ../partials/headerAdmin %>
  <div class="container">
    <h2 class=" ml-3 display-3">
        Events
    </h2>
    <div class="col-md-12 container">
    <% events.forEach(function(event){ %>
      <div class="border border-secondary rounded p-3 m-2">
          <div class="row">
            <div class="col-12 col-lg-3 col-md-4">
                <img class="img-thumbnail" src="<%= event.image %>" media-simple="true">
            </div>
            <div class="caption col-12 col-lg-9 col-md-8">
              <h3><a href="/admin/events/<%= event._id %>" class="text-dark"><strong><%= event.title %></strong></a></h3>
              <div>
                <p>
                   <%= event.content.substring(0,100) %> <a href="/admin/events/<%= event._id %>" class="text-info">read more</a>
                </p>
              </div>
              <div>
                   <%= event.description %>
              </div>
              <div>
                   Created by: <%= event.author.username %>
              </div>

            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

  <% if(pages>1) { %>
    <nav class="justify-content-center">
      <ul class="justify-content-center pagination">
        <% if(currentPage!=1) { %>
          <li class="page-item"><a class="page-link" href="/admin/events?page=<%= currentPage-1 %>">Previous</a></li>
        <% } %>
        <% for (let i = 1; i<= pages ; i++){ %>
          <li class="page-item"><a class="page-link" href="/admin/events?page=<%= i %>"><%= i %></a></li>
        <% } %>
        <% if(currentPage!=pages) { %>
          <li class="page-item"><a class="page-link" href="/admin/events?page=<%= currentPage+1 %>">Next</a></li>
        <% } %>
      </ul>
    </nav>
  <% } %>

<% include ../partials/footer %>
