<% include ../partials/headerAdmin %>
<div class="col-12 card m-2">
    <div class="">
        <img class=" card-img-top" src="<%= event.image %>">
        <div class="card-body">
          <h3 class="text-center">
            <%= event.title %>
          </h3>
          <hr style="
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
          <p>Content: <%= event.content %></p>
          <p>Desc: <%= event.description %></p>
          <p>Date: <%= moment(event.date).format("MMM Do YY") %></p>
          <p>Status: <%= event.finished?"Finished":"Upcoming" %></p>
          <p><em>Submitted by: <%= event.author.username %></em>, <%= moment(event.createdAt).fromNow() %></em></p>
          <% if(currentUser && event.author.id.equals(currentUser._id)){ %>
              <a class="btn btn-xs btn-warning" href="/admin/events/<%=event._id%>/edit">Edit Post</a>
              <form class="delete-form" style="display:inline" action="/admin/events/<%= event._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-xs btn-danger">Delete</button>
              </form>
          <% } %>
        </div>
    </div>
</div>
<% include ../partials/footer %>
