<% include ./partials/header %>

  <!-- Main -->
  <div class="page-content" style="padding-top:110px">
    <div id="wrapper" class="fade-in">
      <!-- Main -->
      <div id="main">
      <!-- Post -->
        <section class="post">
          <!-- <header class="major">
            <span class="date"><%= moment(event.date).format("MMM Do YY") %></span>
          </header> -->
          <div class="image main">
            <img src="<%= event.image %>" alt="" />
          </div>
          <div class="description" style="text-align:center">
            <h1><%= event.title %></h1>
            <h4><%= event.caption %></h4>
            <h4><%= moment(event.dateStart).format("Do MMMM YYYY") %> - <%= moment(event.dateFinish).format("Do MMMM YYYY") %></h4>
            <p style="text-align:center "><%- event.description %></p>
            <% if(event.finished){ %>
              <h5>Done</h5>
              <% } else { %>
                <h5 style="background-color:yellow">Coming soon</h5>
                <% } %>
                <br>
          </div>
          <% if(photos) { %>
            <h3>Photo Memories</h3>
            <div class="row">
              <% photos.forEach(function(photo){ %>
                <div class="col-8">
                  <img class="img-thumbnail" src="<%= photo %>">
                </div>
              <% }) %>
            </div>
          <% } %>
        </section>
      </div>
    </div>

  </div>

<% include ./partials/footer %>
