<% include ./partials/header %>

				<% if(events) { %>
  <!-- Main -->
					<div id="main" style="padding-top:120px;">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date"><%= moment(events[0].dateStart).format("MMM Do YY") %></span>
									<h2><a href="/event/<%= events[0]._id%>"><%= events[0].title %></a></h2>
									<p><%- events[0].description.substring(0,100)%></p>
								</header>
								<a href="/event/<%= events[0]._id%>" class="image main"><img src="<%= events[0].image%>" alt="" /></a>
								<ul class="actions">
									<li><a href="/event/<%= events[0]._id%>" class="button big">Full Story</a></li>
								</ul>
							</article>

						<!-- Posts -->
							<section class="posts">
								<% for(let i=1;i < events.length;i++){ %>
									<article>
										<header>
											<span class="date"><%= moment(events[i].dateStart).format("MMM Do YY") %></span>
											<h2><a href="/event/<%= events[i]._id%>"><%= events[i].title %></h2>
										</header>
										<a href="/event/<%= events[i]._id%>" class="image fit"><img src="<%= events[i].image%>" alt="" /></a>
										<p><%= events[i].description.substring(0,100)%></p>
										<ul class="actions">
											<li><a href="/event/<%= events[i]._id%>" class="button">Full Story</a></li>
										</ul>
									</article>
								<% } %>
							</section>

						<!-- Footer -->

						<% if(pages>1) { %>
							<footer>
								<div class="pagination">
									<a class="page previous <%= currentPage==1?'disabled':'' %>" href="/event?page=<%= currentPage-1 %>">Previous</a>
									<% for (let i = 1; i<= pages ; i++){ %>
					          <a class="page <%= (i == currentPage)? 'active':'' %>" href="/event?page=<%= i %>"><%= i %></a>
					        <% } %>
									<a class="page next <%= currentPage==pages?'disabled':'' %>" href="/event?page=<%= +currentPage+1 %>">Next</a>
								</div>
							</footer>
						<% } %>
					</div>
				<% } %>


<% include ./partials/footer %>
